{% extends 'dummy.html' %}
{% load static %}
{% block title %}
    <title>Change_password Page</title>
    <link rel="stylesheet" href="{% static 'css/styling.css' %}">
{% endblock %}

{% block body_block %}
<section class="container-fluid newmargin1 ">
    <div class="row">
        <div class="col-6 m-auto ">
            <div class="card new-margin ">
                <div class="card-header">
                    <h2 class="h2">Reset_password Form</h2>
                </div>
                <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <label for="otp">Enter OTP</label>
                            <input type="password" name="otp" id="otp" class="text-center form-control">
                            
                            
                            <input type="submit" class="button-color" value="valid OTP">

                            
                            
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}